# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Build artifacts
build/
dist/
*.spec

# VSCode / PyCharm 等
.vscode/
.idea/

# Models / sensitive keys
*.env
*.db      # 如果你不想公开 novel.db，可选择加
data/*.joblib  # 可选

# Runtime logs
*.log
