# Build artifacts
dist/
build/
bin/
Output/

# Virtual environments
.venv/

# Python cache
__pycache__/
*.pyc

# Inno Setup output
*.exe
*.msi

# Ingest sample test files (if not needed)
data/gbk.txt
data/utf8.txt
data/sample.docx
